.cache/
build/
debug.log
qemu.log

subprojects/compiler_rt_builtins/
subprojects/cwalk/
subprojects/fmt-10.2.0/
subprojects/libstdcxx_headers/
subprojects/limine/
subprojects/ovmf_binaries/
subprojects/packagecache
subprojects/parallel_hashmap
subprojects/smart_ptr
subprojects/string
subprojects/veque
build-sysroot
sources
